body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dot {
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.navbarItem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}

.background{
    background-image: linear-gradient(rgba(40, 218, 70, 0.863), rgb(185, 221, 191));
}

.imageEffects {
    transition: transform .2s;
}

.baseText {
    font-family: Arial;
    font-size: 1.6rem;
    color: #f5f5f5;
}

.imageEffects:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.introductionBanner{
    background-color: #abb1a95d;
    border-color: rgb(65, 128, 81);
}

.project_header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #f5f5f5;
}

.project_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #f5f5f5;
}

.threeDimensionalText {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}